<!-- authenticated user/ management page -->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Foxtrot - Management</title>
    <meta name="description" content="Foxtrot - A voting application."/>
    <!--<link id="favicon" rel="icon" href="https://cdn.glitch.com/91b2690a-1e85-47f1-bdde-37493e9fb9f9%2Ftrees2.jpg?1528216252822" type="image/x-icon">-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    <style>

    </style>
</head>
<body>
<header>Management Page</header>
<input list="browsers" id="myBrowser" name="myBrowser" />
<datalist id="browsers">
    <option value="Chrome"></option>
    <option value="Firefox"></option>
    <option value="Internet Explorer"></option>
    <option value="Opera"></option>
    <option value="Safari"></option>
    <option value="Microsoft Edge"></option>
</datalist>
<select id="movie_rating">
    <option value="Chrome">Chrome</option>
    <option value="Firefox" selected>Firefox</option>
    <option value="Iternet Explorer">Internet Explorer</option>
    <option value="Opera">Opera</option>
    <option value="Safari" >Safari</option>
    <option value="Microsoft Edge">Microsoft Edge</option>
</select>
</body>
</html>